*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
**/Manifest.toml
/docs/build/
/dev/
/.history/
/.vscode/
/coverage
coverage-lcov.info
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.fdb_latexmk
paper/paper.fls
paper/paper.log
paper/paper.out
paper/paper.synctex.gz
